<div class="nd-sidebar--header">
  <img class="nd-sidebar--header-img" src="assets/images/header-logo-white.svg">
</div>

<button class="nd-sidebar--link active">
  <img src="assets/images/icon-home.svg">
  <span>Home</span>
</button>
<button class="nd-sidebar--link">
  <img src="assets/images/icon-star.svg">
  <span>Favorites</span>
</button>
<button class="nd-sidebar--link">
  <img src="assets/images/icon-box.svg">
  <span>Notifications</span>
</button>
<button class="nd-sidebar--link">
  <img src="assets/images/icon-folder.svg">
  <span>Archive</span>
</button>
<button class="nd-sidebar--link">
  <img src="assets/images/icon-person.svg">
  <span>Profile</span>
</button>