@import 'variables';

:host {
  display          : block;
  min-height       : 100vh;
  background-color : $light;
}


.new-sale--container {
  margin       : 0 auto;
  padding      : 4.8rem 1.6rem;
  max-width    : 1200px;
  padding-left : 8rem;
}

.new-sale--header-container {
  display       : flex;
  align-items   : center;
  margin-bottom : 4.8rem;
  .new-sale--header-img {
    height: 8rem;
  }
  .new-sale--header-title {
    flex        : 1;
    color       : $dark;
    margin      : 0;
    font-size   : 4.8rem;
    line-height : 1;
    margin-left : 3.2rem;

    &:after {
      width            : 100%;
      height           : .4rem;
      content          : '';
      display          : block;
      margin-top       : .8rem;
      background-color : $gray-light;
    }
  
  }
}

.form-container {
  margin-bottom: 3.2rem;
  .form--title {
    color         : $dark;
    margin        : 0;
    font-size     : 3.2rem;
    font-weight   : 600;
    line-height   : 1;
    margin-bottom : 1.6rem;
  }
  .form-row {
    align-items   : flex-end;
    margin-bottom : 2.4rem;
  }
  .form-item--container {
    .form-item--label {
      color         : $gray;
      margin        : 0;
      cursor        : pointer;
      display       : block;
      font-size     : 1.6rem;
      font-weight   : 600;
      margin-bottom : .8rem;
    }
    .form-items {
      display: flex;
      .form-item--input {
        flex         : 1;
        margin-right : 1.6rem;
      }
    }
    .form-item--input {
      color            : $gray-dark;
      width            : 100%;
      border           : none;
      outline          : 0;
      padding          : 1.2rem 1.6rem;
      display          : block;
      font-size        : 1.8rem;
      transition       : all .15s ease;
      line-height      : 1;
      background-color : $white;
      &:focus, &:hover {
        outline    : 0;
        box-shadow : .2rem .2rem .8rem rgba($dark, .08);
      }
    }
    .form-item--btn {
      width            : 4.8rem;
      height           : 4.8rem;
      display          : flex;
      padding          : .8rem;
      outline          : none;
      transition       : all .15s ease-in-out;
      align-items      : center;
      justify-content  : center;
      background-color : $primary;
      &:hover, &:active, &:focus {
        border           : none;
        background-color : $primary-dark;
      }
      &:hover {
        box-shadow : .2rem .2rem .8rem rgba($dark, .18);
      }
      &:active {
        transform  : scale3d(.9, .9, 1);
        box-shadow : 0;
      }
      &:focus, &:active { outline: none; }
      img {
        width   : 1.2rem;
        display : block;
      }
    }
    &.inline {
      display: flex;
    }
  }
}

.primary-btn {
  color            : $white;
  border           : none;
  padding          : .8rem 4.8rem;
  outline          : none;
  font-size        : 1.6rem;
  transition       : all .15s ease-in-out;
  font-weight      : 600;
  background-color : $primary;
  &:hover {
    box-shadow       : 0.4rem 0.4rem 1.2rem rgba($dark, .12);
    background-color : $primary-dark;
  }
  &:active { outline: none; transform  : scale3d(.9, .9, 1); }
}

#form-item--total {
  display         : flex;
  justify-content : flex-end;
  justify-content : center;
  .form-item--label {
    color        : $gray-dark;
    margin       : auto;
    font-weight  : 600;
    margin-right : 1.6rem;
  }
  .form-item--input {
    width   : auto;
    display : inline-block;
  }
}