
///  COLORS VARIABLES
$dark          : #192843;
$primary       : #279AFF;
$primary-dark  : #147CC9;
$primary-light : #ECF4FF;
$light         : #F6F7FA;
$gray-light    : #CEDDED;
$gray          : #99A4B6;
$gray-dark     : #8C8C8C;
$white         : #ffffff;


///  FONTS
$primary-font: 'Open Sans', sans-serif;